.container {
    flex-direction: column;
    justify-content: left;
    display: flex;
    gap: 10px;
    padding: 20px;
    border: solid deeppink 3px;
    align-items: center; /* Better alignment for mixed items */
}     
.tab-button {
    padding: 10px;
    transition: transform 0.3s;
    color: rgb(0, 0, 0);
    text-decoration: none; /* For the <a> tag */
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
    padding: 0px;
}
/*.tab-button:hover {
    animation: flash 1.5s infinite;
}
@keyframes flash {
    0%, 100% { color: rgb(255, 255, 255); }
    25% { color: rgb(219, 219, 219); }
    50% { color: rgb(255, 255, 255); }
    75% { color: rgb(233, 233, 233); }
}*/